<div id='container' ng-controller='LinksController'>
  <!-- Your html here -->
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li><a href='#/logout' class='logout'>Logout</a></li>
    </ul>
  </div>
  <h1>Search for link</h1>
  <input type="text" ng-model="search" placeholder="Enter title">
  <ul>
    <li class='link' ng-repeat='link in data.links | filter:search' ng-click=''>
      <ng-link></ng-link>
    </li>
  </ul>

</div>
      <!-- <div class='info'>
        <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
        <div class='title'>{{link.title}}</div>
        <div class='original'>{{link.url}}</div>
        <a ng-href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
      </div> -->
